<h1> Anahita Farshi </h1>
<p> I'm from San Diego. I'm a Junior. I moved around a lot so I got to live 
 in a lot of different countries. I'm just generally excited to learn new things in this class. Below is a picture of me. </p>
<%= image_tag("trash.jpg")%>